<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/main.css">
    <title>Preorder</title>
</head>
<body>
    <%- include('templates/nav.ejs') %>
    <!-- <div class="shop-banner" style="background-image: url('/images/clothing/aria-wrap-dress-green5.webp');">
        <p class="shop-banner-text">PRE-ORDER</p>
    </div> -->
    <p style="font-weight: bold; font-size: 1.5em; text-align: center; font-family: noto sans;">Pre-Order</p>

    <div class="shop-items-main-div">
        <div class="shop-items-categories">
            <p style="font-weight: bold;">Menu</p>
            <div style="width: 100%; height: 1px; background-color: rgb(199, 199, 199);"></div>
            <a href="/shop/all">NEW IN</a>
            <div style="display: flex; align-items: center; justify-content: space-between; cursor: pointer;" onclick="toggleDressCategory()">
                <a href="/shop/dress">DRESSES</a>
                <img src="/images/logos/arrowdown.png" alt="down arrow" style="height: 0.7em; transition: 200ms;" id="dressCategoryImage">
            </div>
            <div class="dress-categories hidden" id="dressCategories">
                <a href="/shop/minidress">MINI DRESSES</a>
                <a href="/shop/mididress">MIDI DRESSES</a>
                <a href="/shop/maxidress">MAXI DRESSES</a>
            </div>
            <a href="/shop/set">SETS</a>
            <a href="/shop/top">TOPS</a>
            <a href="/shop/pants">PANTS</a>
            <a href="/shop/coat">COATS</a>
            <a href="/shop/shorts">SHORTS</a>
            <a href="/shop/skirts">SKIRTS</a>
        </div>
        <div class="shop-items-div">
            <% for(var x = 0; x < items.length; x++) { %>
                <div>
                    <a href="/itemdetail/<%= items[x]._id %>">
                        <div class="shop-item" style="background-image: url('/images/clothing/<%= items[x].images[0] %>');">
                            <div class="second-image" style="background-image: url('/images/clothing/<%= items[x].images[1] %>');"></div>
                            <a href="" class="quick-shop">QUICK SHOP</a>
                            <div class="item-sizes">
                                <div style="display: flex; align-items: center; padding: 1em; gap: 0.4em;" id="shopSizes<%= items[x]._id %>">
                                    <p style="margin: 0;">Size:</p>
                                    <div class="size selected-size shopsize-select<%= items[x]._id %>">S</div>
                                    <div class="size shopsize-select<%= items[x]._id %>">M</div>
                                    <div class="size shopsize-select<%= items[x]._id %>">L</div>
                                    <div class="size shopsize-select<%= items[x]._id %>">S</div>
                                </div>
                                <form action="" id="cartform<%= items[x]._id %>">
                                    <input type="hidden" name="size" value="S" id="shopSize<%= items[x]._id %>">
                                    <input type="hidden" name="quantity" value="1">
                                    <input type="hidden" name="itemname" value="<%= items[x].title %>">
                                    <input type="hidden" name="priceKES" value="<%= items[x].price.KES %>">
                                    <input type="hidden" name="priceUSD" value="<%= items[x].price.USD %>">
                                    <input type="hidden" name="action" value="addone">
                                    <input type="hidden" name="picture" value="<%= items[x].images[0] %>">
                                    <button class="item-button">Add to cart</button>
                                </form>
                                <script>
                                    $(document).ready(() => {
                                        let sizeSelect = $(".shopsize-select<%= items[x]._id %>")
                                        sizeSelect.click(function () {
                                            sizeSelect.removeClass("selected-size")
                                            $(this).addClass("selected-size")
                                            $("#shopSize<%= items[x]._id %>").val($(this).html())
                                            console.log($(this))
                                        })
    
                                        $("#cartform<%= items[x]._id %>").on("submit", e => {
                                            e.preventDefault()
                                            let values = $("#cartform<%= items[x]._id %>").serializeArray()
                                            $.ajax({
                                                method: "post",
                                                url: "/cart",
                                                data: {
                                                    size: values[0].value,
                                                    quantity: values[1].value,
                                                    itemname: values[2].value,
                                                    priceKES: values[3].value,
                                                    priceUSD: values[4].value,
                                                    action: values[5].value,
                                                    image: values[6].value
                                                },
                                                success: (res) => {
                                                    $("#cartDivOuter").css("display", "flex")
                                                    $.fn.updateCart(res.cart, res.cartTotal)
                                                    
                                                },
                                                error: (error) => {
                                                    console.log(error)
                                                }
                                            })
                                        })
                                    })
                                </script>
                            </div>
                        </div>
                    </a>
                    <div style="display: flex; flex-direction: column; align-items: center; text-align: center;">
                        <p style="margin-top: 10px; margin-bottom: 0.5em;"><%= items[x].title %></p>
                        <p style="margin: 0;" class="price-kes">KES <%= items[x].price.KES %></p>
                        <p style="margin: 0;" class="price-usd">$<%= items[x].price.USD %></p>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <%- include('templates/footer.ejs') %>
</body>
<script>
    function toggleDressCategory() {
        let dressCategories = document.getElementById("dressCategories")
        let dressCategoryImage = document.getElementById("dressCategoryImage")
        dressCategories.classList.toggle("hidden")
        dressCategoryImage.classList.toggle("flip-image")
    }
</script>
</html>