<div class="scrolling-nav-container">
    <div class="scrolling-nav-inner" style="--marquee-speed: 20s; --direction:scroll-left;" role="marquee">
        <div class="scrolling-nav">
            <p>Lamago.Co</p><p>Lamago.Co</p><p>Lamago.Co</p><p>Lamago.Co</p><p>Lamago.Co</p><p>Lamago.Co</p><p>Lamago.Co</p><p>Lamago.Co</p><p>Lamago.Co</p><p>Lamago.Co</p><p>Lamago.Co</p>
        </div>
    </div>
</div>
<div class="second-nav">
    <a href="https://www.instagram.com/Lamago.Co/">
        <img src="/images/logos/instagram.png" alt="instagram" style="height: 1em;">
    </a>
    <img src="/images/logos/logo3.jpg" alt="logo3" style="height: 4.5em;">
    <div class="second-nav-options">
        <img src="/images/logos/search.png" alt="search" style="height: 1em;">
        <a href="/profile">
            <img src="/images/logos/user.png" alt="instagram" style="height: 1em;">
        </a>
        <img src="/images/logos/cart.png" alt="cart" style="height: 1em; cursor: pointer;" onclick="openCart()">
    </div>
</div>
<div class="third-nav">
    <a href="/" class="third-nav-link">HOME</a>
    <a href="/shop/all" class="third-nav-link">SHOP</a>
    <a href="/aboutus" class="third-nav-link">ABOUT US</a>
    <a href="/preorder" class="third-nav-link">PRE-ORDER</a>
    <a href="/giftcards" class="third-nav-link">GIFT CARDS</a>
    <a href="/contactus" class="third-nav-link">CONTACT US</a>
</div>

<div class="mobile-nav">
    <img src="/images/logos/menu-bar.png" alt="menubar" style="height: 2em; cursor: pointer;" onclick="openSideNav()">
    <img src="/images/logos/logo3.jpg" alt="logo3" style="height: 4.5em;">
    <img src="/images/logos/cart.png" alt="cart" style="height: 1.5em; cursor: pointer;" onclick="openCart()">
</div>
<div class="sidenav-div-outer sidenav-outer-hide" id="sidenavDivOuter">
    <div class="sidenav-div sidenav-hide" id="sidenavDiv">
        <img src="/images/logos/close.png" alt="close sidebar" style="height: 1.2em; margin-bottom: 1em;" onclick="closeSideNav()">
        <div style="padding: 5px 10px; display: flex; align-items: center; justify-content: space-between; border: 1px solid black;">
            <p style="font-weight: bold; margin: 0;">CART</p>
            <img src="/images/logos/shopping-bag.png" alt="shopping bag" style="height: 1.8em;">
        </div>
        <div class="sidenav-links-div">
            <a href="/" class="sidenav-link">HOME</a>
            <a href="/shop/all" class="sidenav-link">SHOP</a>
            <a href="/aboutus" class="sidenav-link">ABOUT US</a>
            <a href="/preorder" class="sidenav-link">PRE-ORDER</a>
            <a href="/giftcards" class="sidenav-link">GIFT CARDS</a>
            <a href="/contactus" class="sidenav-link">CONTACT US</a>
            <a href="/login" class="sidenav-link"><img src="/images/logos/user.png" alt="instagram" style="height: 0.7em; margin-right: 1em;">Log In/Create Account</a>
        </div>
    </div>
</div>

<div class="currency-selector-div">
    <div style="display: flex; align-items: center; gap: 1em; padding: 10px; cursor: pointer;" id="currencyToggle">
        <div style="display: flex; align-items: center; gap: 1em;" class="price-kes">
            <img src="/images/logos/kes.webp" alt="kesselectorimage" style="height: 1.4em;">
            <p style="margin: 0;">KES</p>
        </div>
        <div style="display: flex; align-items: center; gap: 1em; display: none;" class="price-usd">
            <img src="/images/logos/usd.png" alt="usdselectorimage" style="height: 1.4em;">
            <p style="margin: 0;">USD</p>
        </div>
        <img src="/images/logos/arrowdown.png" alt="" style="height: 0.8em; transition: 200ms;" id="currencyArrow">
    </div>
    <div class="currency-selector" id="currencySelector">
        <div class="currency-selector-item" id="setCurrencyKES">
            <img src="/images/logos/kes.webp" alt="kes selector" style="height: 1em;">
            <p style="margin: 0;">KES - Kenyan Shilling</p>
        </div>
        <div class="currency-selector-item" id="setCurrencyUSD">
            <img src="/images/logos/usd.png" alt="usd selector" style="height: 1em;">
            <p style="margin: 0;">USD - US Dollar</p>
        </div>
    </div>
</div>

<div class="cart-div-outter" id="cartDivOuter" style="display: none;">
    <div class="cart-div">
        <div style="display: flex; align-items: center; justify-content: space-between;">
            <img src="/images/logos/close.png" alt="close" style="height: 1em; cursor: pointer;" id="closeCart">
            <p style="margin: 0; font-weight: bold; font-size: 1.1em; font-family: noto sans;">Cart</p>
            <p style="margin: 0;" id="cartItemCount"><%= cart.length %> Item(s)</p>
        </div>
        <div class="cart-items-div" id="cartItemsDiv">
            <% for(var x = 0; x < cart.length; x++) { %>
            <div class="cart-item">
                <img src="/images/logos/close.png" alt="closecart" style="height: 1em; position: absolute; top: 20px; right: 20px; cursor: pointer;" id="remove<%= x %>">
                <div class="cart-image" style="background-image: url('/images/clothing/<%= cart[x].image %>');"></div>
                <div class="cart-content-div">
                    <div>
                        <p><%= cart[x].itemname %></p>
                        <p>Size: <%= cart[x].size %></p>
                    </div>
                    <div style="display: flex; align-items: center; gap: 1em;">
                        <p class="price-kes">Ksh <%= cart[x].price.KES %></p>
                        <p class="price-usd">$<%= cart[x].price.USD %></p>
                        <div class="item-counter-div" >
                            <button class="item-counter-button" id="subQuantity<%= x %>">-</button>
                            <p style="margin: 0;" id="cartQuantity<%= x %>"><%= cart[x].quantity %></p>
                            <button class="item-counter-button" id="addQuantity<%= x %>">+</button>
                        </div>
                    </div>
                </div>
                <script>
                    $(document).ready(() => {
                        $("#subQuantity<%= x %>").on("click", (e) => {
                            console.log("Remove <%= cart[x].itemname %>")
                            console.log($("#cartQuantity<%= x %>").html())
                            if (parseInt($("#cartQuantity<%= x %>").html()) > 1) {
                                $.ajax({
                                method: "post",
                                url: "/cart",
                                data: {
                                    itemname: "<%= cart[x].itemname %>",
                                    action: "removeone"
                                },
                                success: (res) => {
                                    $.fn.updateCart(res.cart, res.cartTotal)
                                },
                                error: (error) => {
                                    console.log(error)
                                }
                            })
                            }
                        })
                
                        $("#addQuantity<%= x %>").on("click", (e) => {
                            console.log("Add <%= cart[x].itemname %>")
                            $.ajax({
                                method: "post",
                                url: "/cart",
                                data: {
                                    itemname: "<%= cart[x].itemname %>",
                                    action: "addquantity"
                                },
                                success: (res) => {
                                    $.fn.updateCart(res.cart, res.cartTotal)
                                },
                                error: (error) => {
                                    console.log(error)
                                }
                            })
                        })
    
                        $("#remove<%= x %>").on("click", () => {
                            console.log("remove<%= x %>")
                            $.ajax({
                                method: "post",
                                url: "/cart",
                                data: {
                                    itemname: "<%= cart[x].itemname %>",
                                    action: "removeitem"
                                },
                                success: (res) => {
                                    $.fn.updateCart(res.cart, res.cartTotal)
                                },
                                error: (error) => {
                                    console.log(error)
                                }
                            })
                        })
                    })
                </script>
            </div>
            <% } %>
        </div>
        <form action="" method="post">
            <div class="cart-form">
                <div class="cart-form-section-one">
                    <div style="background-color: rgb(190, 190, 190); padding: 1em; margin-bottom: 1em;">
                        <input type="checkbox" name="giftwrap" id="giftwrap">
                        <label for="giftwrap">Gift wrap (free)</label>
                    </div>
                    <div>
                        <div style="background-color: rgb(190, 190, 190); display: flex; align-items: center; justify-content: space-between; cursor: pointer; padding: 1em;">
                            <p style="margin: 0;">Leave a note with your order</p>
                            <p style="margin: 0;">+</p>
                        </div>
                        <textarea name="ordernote" id="ordernote" rows="3" style="width: 99%; margin-top: 0.5em;"></textarea>
                    </div>
                </div>
                <div class="cart-form-section-two">
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <p>Subtotal</p>
                        <p id="subtotalKES" class="price-kes">Ksh <%= cartTotal.KES %></p>
                        <p id="subtotalUSD" class="price-usd">$<%= cartTotal.USD %></p>
                    </div>
                    <p>Shipping calculated at checkout</p>
                    <div style="width: 100%; height: 1px; background-color: rgb(200, 200, 200);"></div>
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <p>Total</p>
                        <p id="cartTotalKES" class="price-kes">Ksh <%= cartTotal.KES %></p>
                        <p id="cartTotalUSD" class="price-usd">$<%= cartTotal.USD %></p>
                    </div>
                </div>
            </div>
            <div style="display: flex; justify-content: end; gap: 1em; margin-top: 2em;">
                <a href="/cart" style="display: block; padding: 1em; background-color: rgb(201, 201, 201); width: fit-content;">View Cart</a>
                <button style="background-color: black; padding: 1em; color: white; border: none;">Checkout</button>
            </div>
        </form>
    </div>
</div>
<script>
    let cartDivOuter = document.getElementById("cartDivOuter")

    function openCart() {
        cartDivOuter.style.display = "flex"
    }

    function openSideNav() {
        console.log("sidenav")
        let sidenavDivOuter = document.getElementById("sidenavDivOuter")
        let sidenavDiv = document.getElementById("sidenavDiv")
        sidenavDivOuter.classList.remove("sidenav-outer-hide")
        sidenavDiv.classList.remove("sidenav-hide")
    }

    function closeSideNav() {
        console.log("sidenav")
        let sidenavDivOuter = document.getElementById("sidenavDivOuter")
        let sidenavDiv = document.getElementById("sidenavDiv")
        
        sidenavDivOuter.classList.add("sidenav-outer-hide")
        sidenavDiv.classList.add("sidenav-hide")
    }

    $(document).ready(() => {
        $("#closeCart").on("click", () => {
            $("#cartDivOuter").css("display", "none")
        })

        $("#currencySelector").hide()
        $("#currencyToggle").on("click", () => {
            $("#currencySelector").toggle(200)
            $("#currencyArrow").toggleClass("flip-image")
        })

        $("#setCurrencyKES").on("click", () => {
            console.log("Change to KES")

            $.ajax({
                method: "post",
                url: "/changecurrency",
                data: {
                    action: "KES"
                },
                success: (res) => {
                    console.log(res)
                    let currencyKES = $(".price-kes")
                    let currencyUSD = $(".price-usd")
                    console.log(currencyKES)
                    console.log(currencyUSD)
                },
                error: (error) => {
                    console.log(error)
                }
            })
        })

        $("#setCurrencyUSD").on("click", () => {
            console.log("Change to USD")
            $.ajax({
                method: "post",
                url: "/changecurrency",
                data: {
                    action: "USD"
                },
                success: (res) => {
                    console.log(res)
                    let currencyKES = $(".price-kes")
                    let currencyUSD = $(".price-usd")
                    console.log(currencyKES)
                    console.log(currencyUSD)
                },
                error: (error) => {
                    console.log(error)
                }
            })
        })

        $.fn.updateCart = function (cart, total) {
            let cartItemsDiv = $("#cartItemsDiv")
            console.log(cart, total)
            cartItemsDiv.find('div').remove()
            cartItemsDiv.find('script').remove()

            $("#subtotalKES").html("Ksh" + total.KES)
            $("#cartTotalKES").html("Ksh" + total.KES)
            $("#subtotalUSD").html("$" + total.USD)
            $("#cartTotalUSD").html("$" + total.USD)
            $("#cartItemCount").html(cart.length + " Item(s)")

            for (let x = 0; x < cart.length; x++) {
                cartItemsDiv.append(`
                    <div class="cart-item">
                        <img src="/images/logos/close.png" alt="closecart" style="height: 1em; position: absolute; top: 20px; right: 20px; cursor: pointer;" id="remove${x}">
                        <div class="cart-image" style="background-image: url('/images/clothing/${cart[x].image}');"></div>
                        <div class="cart-content-div">
                            <div>
                                <p>${cart[x].itemname}</p>
                                <p>Size: ${cart[x].size}</p>
                            </div>
                            <div style="display: flex; align-items: center; gap: 1em;">
                                <p>Ksh ${cart[x].price.KES}</p>
                                <p>$${cart[x].price.USD}</p>
                                <div class="item-counter-div" >
                                    <button class="item-counter-button" id="subQuantity${x}">-</button>
                                    <p style="margin: 0;" id="cartQuantity${x}">${cart[x].quantity}</p>
                                    <button class="item-counter-button" id="addQuantity${x}">+</button>
                                </div>
                            </div>
                        </div>
                        <script>
                            $(document).ready(() => {
                                $("#subQuantity${x}").on("click", (e) => {
                                    console.log("Remove ${cart[x].itemname}")
                                    console.log($("#cartQuantity${x}").html())
                                    if (parseInt($("#cartQuantity${x}").html()) > 1) {
                                        $.ajax({
                                        method: "post",
                                        url: "/cart",
                                        data: {
                                            itemname: "${cart[x].itemname}",
                                            action: "removeone"
                                        },
                                        success: (res) => {
                                            $.fn.updateCart(res.cart, res.cartTotal)
                                        },
                                        error: (error) => {
                                            console.log(error)
                                        }
                                    })
                                    }
                                })
                        
                                $("#addQuantity${x}").on("click", (e) => {
                                    console.log("Add ${cart[x].itemname}")
                                    $.ajax({
                                        method: "post",
                                        url: "/cart",
                                        data: {
                                            itemname: "${cart[x].itemname}",
                                            action: "addquantity"
                                        },
                                        success: (res) => {
                                            $.fn.updateCart(res.cart, res.cartTotal)
                                        },
                                        error: (error) => {
                                            console.log(error)
                                        }
                                    })
                                })
            
                                $("#remove${x}").on("click", () => {
                                    console.log("remove${x}")
                                    $.ajax({
                                        method: "post",
                                        url: "/cart",
                                        data: {
                                            itemname: "${cart[x].itemname}",
                                            action: "removeitem"
                                        },
                                        success: (res) => {
                                            $.fn.updateCart(res.cart, res.cartTotal)
                                        },
                                        error: (error) => {
                                            console.log(error)
                                        }
                                    })
                                })
                            })
                        <\/script>
                    </div>
                `)
            }
        }
    })
</script>